// colors

$primary-color: #000;
$paragraph-color: #777;
$death-color: #0002aa;
$topbar-color: #00017f;
$topbar-font-color: #fff;
$background-color: #ccc;
$html-color: $background-color;
$alert-color: #9d2c1a;
$highlight-color: $topbar-font-color;
