.tile {
  @extend .column-2;
  display: flex;
  flex: 1;
  position: relative;
  width: 100%;
  padding: 12px 0 10px;
  background: $background-color;
  &:first-child {
    padding-bottom: 5px;
  }
  .action-container--left & {
    padding-right: 5px;
  }
  .action-container--right & {
    padding-left: 5px;
  }
}

.tile-outline {
  display: flex;
  position: relative;
  flex: 1;
  align-items: center;
  justify-content: center;
  &:before, &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid;
    pointer-events: none;
    content: '';
  }
  &:before {
    margin-top: 1px;
    margin-left: 1px;
    border-color: #fff;
  }
  &:after {
    border-color: #838383;
  }
}

.tile__contain {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 10px;
  &--wrap {
    flex-wrap: wrap;
  }
  &--column {
    flex-direction: column;
    margin: 2px 0;
  }
}

.tile__title {
  position: absolute;
  top: -10px;
  left: 15px;
  padding: 0 3px;
  background: $background-color;
  color: darken(#8c8c8c, 25%);
  font-size: 1rem;
  z-index: 10;
}

