@import "partials/reset";
@import "partials/grid";

// temp

.temp{
  background-color: red;
}

// colors

$html-color: #222;
$primary-color: #000;
$paragraph-color: #777;
$death-color: #0002AA;
$padding: 1.5rem;
$padding-vertical: $padding*.75;
$topbar-color: #00017F;
$topbar-font-color: #FFF;
$background-color: #CCC;

/* Generic Styles */

html{
  background-color: $html-color;
}

body{
  font-family: "Ubuntu Mono", "Helvetica Neue", sans-serif;
}

h1,h2,h3,h4,h5,h6,p,li{
  font-size: 1.2rem;
  line-height: 1.4rem;
  span{ 
    font-weight: bold;
    font-style: italic;
  }
}

h1,h2,h3,h4,h5,h6{
  + p{
    margin-top: $padding/4;
  }
}

a{
  text-decoration: none;
  color: inherit;
}

p{
  color: $paragraph-color;
}

/* Top Bar */

.topbar{
  padding: $padding-vertical $padding;
  background-color: $topbar-color;
  position: relative;

  h3{
    color: $topbar-font-color;
  }

  .btn-back{
    background-color: $background-color;
    padding: 0 .9rem .3rem;
    color: $primary-color;
    position: absolute;
    font-size: 1.5rem;
    line-height: 1.5;
    top: $padding/5;
    right: $padding/4;
  }
}

/* Panel */

.panel{
  background-color: $background-color;
  padding: $padding;
}

/* List of Users */

ol{
  padding-left: $padding*1.5;
  margin-top: $padding/2;
  li{
    list-style-type: decimal;
    line-height: 1.5;
    // padding-left: $padding;
    margin-bottom: $padding/4;
    &.active{
      font-weight: bold;
      font-style: italic;

      a{
        font-style: normal;
        font-weight: normal;
        font-size: .9em;
      }
    }
    a{
      color: $paragraph-color;
      display: inline-block;
      font-size: 1.2em;
      min-width: 2rem;
      margin-left: -1rem;
      padding-left: 1rem;
    }
  }
}

/* Form Elements */

input, button, input[type="submit"]{
  font-family: "Ubuntu Mono", "Helvetica Neue", sans-serif;
}

.button-block{
  width: 100%;
}

@import "tiles/tile";

/* Death */

.death{
  background-color: $death-color;
  text-align: center;
  padding: $padding*2;

  h3{
    color: $death-color;
    background-color: $background-color;
    padding: .1rem 0.75rem .4rem;
    margin-bottom: $padding*1.5;
    display: inline-block;
  }
  p{
    color: $topbar-font-color;
    margin-bottom: $padding*.75;
    text-align: left;
  }
}