.tile__slider {
  .tile__contain {
    padding: 17px;
  }
}

input[type='range'].range-slider {
  margin-top: 40px;
}

.range-current {
  position: absolute;
  top: 20px;
  left: 18px;
  font-size: rem(16px);
  pointer-events: none;
}

.range-datalist {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: row;
  width: calc(100% - 12px);
  margin: 0 auto;
  li {
    position: relative;
    width: 10px;
    margin-top: 35px;
    margin-bottom: 30px;
    font-size: .75rem;  // kelli
    word-wrap: break-word; // kelli
    line-height: normal;
    text-align: center;
    span {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-style: normal;
      font-weight: 400;
    }
    &:before {
      position: absolute;
      top: -15px;
      left: 2px;
      font-size: 10px;
      content: '|';
    }
  }
}

input[type='range'] {
  width: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 0;
  border-top: 2px solid #777;
  border-bottom: 2px solid #fff;
  border-radius: 2px;
  background: transparent;
}
input[type='range']::-webkit-slider-thumb {
  $size: 10px;
  position: relative;
  top: 12px;
  width: 0;
  height: 0;
  border-top: $size solid darken($background-color, 15%);
  border-right: $size solid transparent;
  border-left: $size solid transparent;
  box-shadow: 0 -#{($size * 3)} 0 0 darken($background-color, 15%), 0 -#{($size * 2)} 0 0 darken($background-color, 15%), 0 -#{$size} 0 0 darken($background-color, 15%);
}

